    <!-- Social Media Section -->
    <section class="social-media" id="social-media">
        <div class="social-container">
            <p>In coding we have found our passion. Feel free to peruse through my social media handles for your
                convinction</p>
            <div class="social-media-div">
                <a href="https://web.facebook.com/tonij.nnamchi"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/NnamchiC"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/naccyworld/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/anthony-nnamchi-680663120/"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </section>
</main>

<!-- Footer -->
<footer class="footer" id="footer">
    <div class="footer-container">
        <div class="copyright">
            <p>&copy; NaccyWorld
                <script>document.write(new Date().getFullYear())</script>
            </p>
        </div>
    </div>
</footer>
</div>
<script src="app.js"></script>
</body>

</html>