<%- include("partials/header"); -%>
<br>
<br>
<br>

    <!-- Home Content -->
<main id="main-content">
    <!-- Introduction -->
    <section id="intro">
        <div class="intro-container">
            <div class="intro-text">
                <p class="first-paragraph">
                    <span class="intro-btn-span">Hey!</span>
                    Looking for a Frontend Developer?
                </p>
                <h1 class="intro-title-text">You Just Found The Right Guy</h1>
                <p class="intro-career-paragraph">A Frontend Developer with over 3 years of coding experience.
                    Experienced with all stages of the frontend development.</p>
                <div class="intro-btn-div">
                    <a href="mailto:nnamchitony@gmail.com" id="btn-hire">
                        Hire Me
                    </a>
                    <a href="ANTHONY CHIDI NNAMCHI'S RESUME.pdf" id="btn-download" download>
                        Download CV <p class="fa-solid fa-download"></p>
                    </a>
                </div>
            </div>
            <div class="intro-img-div">
                <img src="assets/my-photo.png" alt="My Profile Photo">
            </div>
        </div>
    </section>

    <!-- My Personal Information -->
    <section class="bio-data-div" id="bio-data">
        <div class="personal-details">
            <h3>Personal Details</h3>
            <hr>
            <p>Email: nnamchitony@gmail.com</p>
            <p>Languages: English</p>
            <p>Nationality: Nigerian</p>
        </div>
        <div class="career-summary">
            <h2>Career<span>Summary</span> </h2>
            <p>Have enjoyed over 11 years of overall work experience and a minimum of 5 years of technological experience. Have, as
            well, thrived in challenging organisations where information technology, human resource management, administration,
            sales and marketing, engineering, technical and cognitive skills have been maximized to meeting organisational goals.</p>
            <h4>Nnamchi Anthony Chidi</h4>
        </div>
    </section>
<br>
<br>
<br>
<br>
<br>
    <!-- My Expertise -->
    <section class="expertise" id="expertise">
        <div class="expertise-container">
            <div class="expertise-img">
                <img src="assets/web-development.png" alt="Expertise Img">
            </div>
            <div class="expertise-details">
                <div class="expertise-text">
                    <h4>My Expertise</h4>
                    <p>I pride myself of being experienced with many web design and development tools. some of
                        which are listed below.</p>
                </div>
                <div class="expertise-icons">
                    <div class="html icons">
                        <span>95%</span>
                        <i>
                            <img src="assets/html.png" alt="HTML5">
                        </i>
                    </div>
                    <div class="css icons">
                        <span>85%</span>
                        <i>
                            <img src="assets/css3.png" alt="CSS3">
                        </i>
                    </div>
                    <div class="js icons">
                        <span>85%</span>
                        <i>
                            <img src="assets/js.png" alt="JS">
                        </i>
                    </div>
                    <div class="react icons">
                        <span>90%</span>
                        <i>
                            <img src="assets/react.png" alt="React.js">
                        </i>
                    </div>
                    <div class="git icons">
                        <span>90%</span>
                        <i>
                            <img src="assets/git.png" alt="Git">
                        </i>
                    </div>
                    <div class="github icons">
                        <span>95%</span>
                        <i>
                            <img src="assets/github.png" alt="Github">
                        </i>
                    </div>
                    <div class="node icons">
                        <span>75%</span>
                        <i>
                            <img src="assets/node.png" alt="Node.js">
                        </i>
                    </div>
                    <div class="bootstrap icons">
                        <span>95%</span>
                        <i>
                            <img src="assets/bootstrap.png" alt="Bootstrap5">
                        </i>
                    </div>
                    <div class="jquery icons">
                        <span>90%</span>
                        <i>
                            <img src="assets/jquery.png" alt="jQuery">
                        </i>
                    </div>
                    <div class="php icons">
                        <span>65%</span>
                        <i>
                            <img src="assets/php.png" alt="PHP">
                        </i>
                    </div>
                    <div class="python icons">
                        <span>75%</span>
                        <i>
                            <img src="assets/python.png" alt="Python">
                        </i>
                    </div>
                    <div class="c icons">
                        <span>75%</span>
                        <i>
                            <img src="assets/c.png" alt="C">
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>