<%- include("partials/header"); -%>
<br>
<br>
<br>
    <!-- Projects I have worked on -->
    <section class="projects" id="projects">
        <div class="projects-container">
            <div class="projects-text">
                <h4>My Projects</h4>
                <p>A list of our recent published projects are shown below</p>
            </div>
            <div class="projects-details">
                <div class="project-item">
                    <a href="https://farmfund.netlify.app">
                        <span>
                            <img class="items" src=".//assets/farmfund.png" alt="farmfund">
                            Farmfund App
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://lumencityestates.netlify.app">
                        <span>
                            <img class="items" src=".//assets/lumencityestates.png" alt="lumencityestates">
                            Lumencityestate Website
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://my-first-zuri-website.tonychidi.repl.co">
                        <span>
                            <img class="items" src=".//assets/digital-cv.png" alt="digital-cv">
                            Zuri portfolio Task
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://tonychidi.github.io/Registration-form/">
                        <span>
                            <img class="items" src=".//assets/registration-form.png" alt="Registration-form">
                            Registration-form
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://tonychidi.github.io/Flexbox/">
                        <span>
                            <img class="items" src=".//assets/flexbox.png" alt="Flexbox">
                            Flexbox Task
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://naccynewsletter.herokuapp.com/">
                        <span>
                            <img class="items" src=".//assets/newsletter-signup.png" alt="Newsletter Signup">
                            Newsletter Signup Page
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://naccybmicalculator.herokuapp.com/">
                        <span>
                            <img class="items" src=".//assets/bmicalculator.png" alt="BMI Calculator">
                            BMI Calculator
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://naccyweatherapp.herokuapp.com/">
                        <span>
                            <img class="items" src=".//assets/weatherapp.png" alt="Weather App">
                            Weather App
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://tonychidi.github.io/miniProject/">
                        <span>
                            <img class="items" src=".//assets/miniproject.png" alt="Mini Project">
                            Mini Project
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://tonychidi.github.io/Frontend-Calculator/">
                        <span>
                            <img class="items" src=".//assets/frontendcalc.png" alt="Frontend Calculator">
                            Frontend Calculator
                        </span>
                    </a>
                </div>

                <div class="project-item">
                    <a href="https://tonij2020.github.io/zuri-responsive-design-starter">
                        <span>
                            <img class="items" src=".//assets/responsivepage.png" alt="Zuri Responsive Design">
                            Zuri Responsive Design
                        </span>
                    </a>
                </div>

            </div>
        </div>
    </section>

<%- include("partials/footer"); -%>