<%- include("partials/header"); -%>
<br>
<br>
<br>
    <!-- My Educational Qualifications -->
    <section class="qualifications" id="qualifications">
        <div class="quali-container">
            <div class="quali-intro" id="quali-intro">
                <h2>Education <span>Qualifications</span></h2>
                <p>I am privileged to have obtained few education qualifications as outlined thus:</p>
            </div>
            <div class="quali-details boxx" id="quali-details">
                <div class="quali-items box">
                    <div class="quali-items-text">
                        <h4>Master of Engineering <span>2021</span></h4>
                        <p>Federal University of Technology, Minna, Niger State, Nigeria</p>
                        <p>CHEMICAL ENGINEERING</p>
                    </div>
                    <div class="quali icon">
                        <span><i class="fa-solid fa-sailboat"></i></span>
                    </div>
                </div>
                <div class="quali-items box1">
                    <div class="quali icon">
                        <span><i class="fa-solid fa-universal-access"></i></span>
                    </div>
                    <div class="quali-items-text">
                        <h4>Bachelor of Engineering <span>2014</span></h4>
                        <p>Nnamdi Azikiwe University, Awka, Anambra State, Nigeria</p>
                        <p>CHEMICAL ENGINEERING</p>
                    </div>
                </div>
            </div>
            <div class="quali-details boxes" id="quali-details">
                <div class="quali-items box">
                    <div class="quali-items-text">
                        <h4>Ordinary National Diploma <span>2010</span></h4>
                        <p>Institute of Management and Technology, Enugu, Enugu State, Nigeria</p>
                        <p>CHEMICAL ENGINEERING</p>
                    </div>
                    <div class="quali icon">
                        <span><i class="fa-solid fa-certificate"></i></span>
                    </div>
                </div>
                <div class="quali-items box1">
                    <div class="quali icon">
                        <span><i class="fa-solid fa-graduation-cap"></i></span>
                    </div>
                    <div class="quali-items-text">
                        <h4>Senior School Certificate Examination <span>2005</span></h4>
                        <p>Community Secondary School, Neke, Enugu State, Nigeria</p>
                        <p>NECO</p>
                    </div>
                </div>
            </div>
            <div class="quali-details boxess" id="quali-details">
                <div class="quali-items last">
                    <div class="quali-items-text">
                        <h4>Primary School Leaving Certificate <span>1999</span></h4>
                        <p>Public Primary School, Neke, Enugu State, Nigeria</p>
                        <p>FSLC</p>
                    </div>
                    <div class="quali icon">
                        <span><i class="fa-solid fa-chalkboard"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- My Certifications -->
    <section class="certifications" id="certifications">
        <div class="cert-container">
            <div class="projects-text">
                <h4>My Certifications</h4>
                <p>All certifications I have acquired (educational and skill based) are listed below</p>
            </div>
            <div class="projects-details">
                <div class="project-item">
                    <a href=".//assets/TEF-TRAINING-PARTICIPATION-CERTIFCIATE.jpg" target="_blank" view>
                        Certificate of Training Completion <br>TEF-Business Management Training
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/Learn-react_ Codecademy.jpg" target="_blank" view>
                        Certificate of Completion <br>Learn React (Codecademy)
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/Basic-expressions _ Codecademy.jpg" target="_blank" view>
                        Certificate of Completion <br>Basics of Regular Expressions (Codecademy)
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/learnable2020-cert.jpg" target="_blank" view>
                        Certificate of Completion <br>Learnable2020
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/GADS-Certificate.jpg" target="_blank" view>
                        Certificate of Course Completion <br>GADS2020
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/IFP-MOOC-Certificate.png" target="_blank" view>
                        Certificate of Achievement <br>IFP Schools
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/fhi_Certificate.jpg" target="_blank" view>
                        Certificate of Completion <br>FHI360
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/nysc.png" target="_blank" view>
                        NYSC Certificate
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/horebson.jpg" target="_blank" view>
                        Certificate of Proficiency <br>Horebson Resources
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/degree.png" target="_blank" view>
                        Bachelor of Engineering
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/ond.png" target="_blank" view>
                        Ordinary National Diploma
                    </a>
                </div>

                <div class="project-item">
                    <a href="" target="_blank" view>
                        Certificate of Proficiency <br>Package Computers
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/neco.jpg" target="_blank" view>
                        SSCE Certificate
                    </a>
                </div>

                <div class="project-item">
                    <a href=".//assets/FSL-Cert.jpg" target="_blank" view>
                        PSL Certificate
                    </a>
                </div>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>